.page {
   /* border: 1px orange dotted; */
    border-radius: 15px;
    padding-top: 1rem;
    width: 60vw;
    /* height: 29.7cm; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}


.side{
   position: fixed;
    margin-top: 8rem;
    width: 26%;
    margin-left: -14rem;
}
@media print {
    .page{
        padding: 0;
        /* margin-right: 20px; */
        box-shadow: none;
        margin: 0;
        /* margin-left: -10px; */
        width: 100vw;
    }
    .side{
        display: none;
    }
    
}
