<div class="sidebar">
    <div class="buttons align-items-center">
        <button *ngIf="adminLoggedIn" routerLink="AdminPage" type="button" class="btn">View Users</button><br>
        <button type="button" *ngIf="!loggedIn" routerLink='LoginPage' class="btn">Log In</button><br>
        <button type="button" *ngIf="!loggedIn" routerLink="SignUp" class="btn">Sign Up</button><br>
        <a type="button" routerLink="" class="btn">Home</a><br>
        <button type="button" routerLink="EditResume" *ngIf="loggedIn" class="btn">Add Resume</button><br>
        <button type="button" *ngIf="loggedIn" (click)="logout()" class="btn">Logout</button><br>
       
    </div>
</div>