<div class="sidebar">
    <div class="buttons align-items-center">

        <button type="button" *ngIf="!loggedIn" routerLink='LoginPage' class="btn">Log In</button><br>
        <button type="button" *ngIf="!loggedIn" routerLink="SignUp" class="btn">Sign Up</button><br>
        <a type="button" routerLink="" class="btn">Home</a><br>
        <button type="button" routerLink="EditResume" *ngIf="loggedIn" class="btn">Edit Resume</button><br>
        <!-- <button  (click)="refresh()" type="button" class="btn">Refresh</button><br> -->
        <button type="button" *ngIf="loggedIn" (click)="logout()" class="btn">Logout</button><br>
       
    </div>
</div>