.sidebar {
    border-top: none;
    border-left: none;
    height: 125%;
    width: 20%;
    margin-top: 171px;
    z-index: 10;
    position: absolute;
    padding-top: 40px;
    /* background-color: lightgray; */
    border-right: 1px solid orange;

}
.quote-left{
   margin-left: 12rem;
}
.ratings{
padding-left: 10px;
}
@media print {
 
    @page {     margin: 1px  }
    .sidebar{
       
        background:none !important;
        -webkit-print-color-adjust: exact; 
        print-color-adjust: exact;
         border-top: none;
         border-left: none;
       border-right: 1px solid orange;
      /* border-left: 3px solid orange; */
        margin-top: 11rem;
        margin-right: 10px;
        width: 30%;
        height: 80vh;
    }
    .quote-left{
        margin-left: 12rem;
     } 
     .main-quote{
        padding-top: 1.5rem;
     }
     .ratings{
        margin-left: 0.5rem;
     }
}
