.mainRow {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px; */
    font-size: smaller;
}

.header {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 18px; */
    padding: 0;
    border-top: 5px solid orange;
    border-bottom: 1px solid orange;
    margin-left: 0px;
}

.tittleHeader {
    margin-top: 1rem;
    text-align-last: end;
}



.name b {
    font-size: 2.3rem;
}

.name::after {
    content: "";
    display: block;
    font-style: normal;
    font-size: smaller;
    margin-bottom: -35px;

}

.tittleHeader span {
    text-align: right;
}

#post {
    color: gray;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.icon {
    min-width: 1rem;
    margin-top: 0.3rem;
}

.colon {
    margin-left: 0.8rem;
    margin-top: 0.3rem;
}

.d-flex span {
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.sidebar {
    padding-top: 3rem;
    border-right: solid 1px orange;
    height: 100vh;

}

.main-quote {
    padding: 1rem;
    margin-top: 3rem;
}
.quote-left{
    margin-left: 8rem;
}

/*
middle border of skill section
*/

.allRatings{
    /* margin-top: 3rem; */
    width: 100%;
    position: relative;
}

.allRatings::before{
    content: '';
    position: absolute;
    border-bottom: 1px orange solid;
    width: 50%;
    z-index:0;
    margin-left: 2rem;
}
.mainPage {
    margin-top: 3rem;
}

.pic {
    margin-left: -1rem;
    width: 119px;
    height: 119px;
    border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.pic-container {
    width: 50%;
    display: inline-block;
    margin-top: 73px;
    margin-left: 40px;
    z-index: 12;
    position: absolute;
}

.section-heading {
    width: 13.6cm;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    border-bottom: 1px solid orange;
}
.exp{
    padding: 0;
    padding-bottom: 1rem;
}
.education{
    margin-left: 0.5rem;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 128%;
    z-index: 400;
}

ul.timeline>li {
    margin: 10px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid orange;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.achievement{
    margin-left: 1rem;
}
.main-buttons{
    margin-bottom: 3rem;
}
.buttons{
    margin-top: 2rem;
    margin-left: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media print {

.mainRow{
    width: 102.5vw;
    /* margin-left: 1rem; */
}
.pic{
    margin-left: 1rem;
}
.main-quote {
    margin-left: 0.5rem;
}
    .sidebar {
        padding-right: 1rem;
        height: 80vh;
        max-width: 30%;
    }
    .allRatings{
        margin-left: 1rem;
    }

    .col-sm-10 {
        margin: 0;
        margin-top: 1rem;
        float: left;
        width: 59%;

    }

    .col-md-1 {
        float: left;
        width: 1%;
    }

    .col-md-4 {
        float: left;
        font-size: small;
        width: 33%;

    }


    .mainPage {

        width: 70%;

    }



    .form-control {
        display: none;
    }
    .main-buttons{
        display: none;
    }
}